<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
    
  </head>
  <style>
    .row{  
    box-shadow:5px 10px 8px 10px #888888;
    }

    </style>


  <body style="background-image:url(https://growths.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F7981e369-df13-445a-8a2e-fe6a5b9e865b%2Fbg.jpeg?table=block&id=e66df004-ad4d-4b6b-a264-04ff4fcbb7bf&spaceId=86a3aa74-052a-4d74-be6e-e2e3d0ba3c7c&width=2000&userId=&cache=v2) ;">

    <div class="container">
        <div class="card-body" style="height: 20%;" >
     <!-- text    -->
            <div class="row">
                <div class="col" style="background-color: white;">
        <center>
            <br>
            <p2 style=" font-size: 50px; color: rgb(60, 57, 57);">Get Everything You Need For Creating WordPress Website</p2>
            <img style="width: 70%;" src="https://growths.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fc8bd0a18-2d06-44c5-a288-07c14b0302d8%2Fillustration.png?table=block&id=bf667652-b074-4432-9d49-4b53e2884edc&spaceId=86a3aa74-052a-4d74-be6e-e2e3d0ba3c7c&width=2000&userId=&cache=v2" alt="">
            <p style="font-size: 20px; color: rgb(133, 164, 187);">All-in-one Multifunctional Subscribe service Perfect for lounching All kinds of WordPress Projects!</p>
         </center>   
                </div>
        <!-- form -->
        <div class="col-md-auto " style="background-color: rgb(40, 39, 39); width: 30em;">
            <br><br>
            <h2 style="color: rgb(100, 167, 100);">SUBSCRIBE AND GET YOUR BONUS</h2>
    <center>  
        <div class="form-group">
        <form  method ='POST' >
          {% csrf_token %}
          <input class="form-control"  type="email"  name='email'  placeholder="Email address" style=' background-color: rgb(55, 54, 54);  border-color:black ;' ><br>
          <input class="form-control" type="text"  name='first_name' placeholder="First Name"  style='background-color: rgb(55, 54, 54); border-color:black ;'><br>
          <input class="form-control" type="text" name='last_name' placeholder="Last Name"  style='background-color: rgb(55, 54, 54);  border-color:black ;'><br>
          <input class="form-control" type="text" name='address' placeholder="Address" style='background-color: rgb(55, 54, 54);  border-color:black ;' ><br>
          <button class="form-control" type="submit"  style='background-color: bisque; color:white;'><strong>STAY UPDATE</strong></button>
        </form> 
        <br><p style="color: rgb(181, 174, 174);">Your information will never be shared with any third party</p>
        </center>     
        </div>
        </div>
      </div>
    </div>
</div>
</div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>